.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 2px 10px;
  margin: 0px 0px;
  margin-top: 0.1rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .experience-cards-div {
    grid-template-columns: 1fr; /* Switch to 1 column on mobile */
  }
}